Source: netdiff
Section: utils
Priority: optional
Maintainer: Paul C. Buetow <paul@buetow.org>
Build-Depends: 
Standards-Version: 3.9.2
Homepage: https://netdiff.buetow.org
Vcs-Git: https://github.com/buetow/netdiff.git
Vcs-Browser: https://github.com/buetow/netdiff

Package: netdiff
Architecture: all
Depends: coreutils, openssl, tar, bash
Description: Small netdiff package
 This utility can be used to diff files accross the network
